body {
    margin: 0;
    text-align: center;

    font-family: 'Inter', sans-serif
}

.hero {
    background: #6943fe;
    color: white;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#input {
    width: 120px;
    margin: 25px 0;

    background-color: transparent;
    border: 2px solid #a578ff;
    border-radius: 5px;

    color: white;
    font-weight: 800;
    font-size: 58;
    text-align:center;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

#convert-btn {
    background: #f4f4f4;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;

    color: #3d3d3d;
    font-size: medium;
    font-weight: bold;

}

.main {
    background: #f4f4f4;
    padding: 10px;
}

.section {
    background: white;
    padding: 5px;

    margin: 20px;
}
.section h3 {
    font-weight: 600;
    font-size: 20;
    color: #3e3369;
}
.section p {
    font-size: 14;
}
